In [1]:
%pip install pandas

Collecting pandas
  Downloading pandas-2.2.0-cp311-cp311-win_amd64.whl.metadata (19 kB)
Collecting numpy<2,>=1.23.2 (from pandas)
  Downloading numpy-1.26.4-cp311-cp311-win_amd64.whl.metadata (61 kB)
     ---------------------------------------- 0.0/61.0 kB ? eta -:--:--
     ---------------------------------------- 0.0/61.0 kB ? eta -:--:--
     ------ --------------------------------- 10.2/61.0 kB ? eta -:--:--
     ------------------- ------------------ 30.7/61.0 kB 262.6 kB/s eta 0:00:01
     ------------------- ------------------ 30.7/61.0 kB 262.6 kB/s eta 0:00:01
     ------------------------------- ------ 51.2/61.0 kB 238.1 kB/s eta 0:00:01
     -------------------------------------- 61.0/61.0 kB 250.2 kB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in d:\database\fullstack\lib\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in d:\database\fullstack\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.0-cp311-cp311-win_amd64.whl (11.6 MB)
   ---------------------------------------- 0.0/11.6 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.6 MB 960.0 kB/s eta 0:00:13
   ---------------------------------------- 0.1/11.6 MB 1.1 MB/s eta 0:00:11
   ---------------------------------------- 0.1/11.6 MB 1.1 MB/s eta 0:00:11
   ---------------------------------------- 0.1/11.6 MB 708.1 kB/s eta 0:00:17
    --------------------------------------- 0.2/11.6 MB 888.4 kB/s eta 0:00:13
    --------------------------------------- 0.2/11.6 MB 888.4 kB/s eta 0:00:13
    --------------------------------------- 0.3/11.6 MB 747.0 kB/s eta 0:00:16
   - -------------------------------------- 0.3/11.6 MB 881.8 kB/s eta 0:00:13
   - -------------------------------------- 0.5/11.6 MB 1.1 MB/s eta 0:00:11
   - -------------------------------------- 0.6/11.6 MB 1.2 MB/s eta 0:00:10
   -- ------------------------------------- 0.7/11.6 MB 1.4 MB/s eta 0:00:08
   -- ------------------------------------- 0.8/11.6 MB 1.5 MB/s eta 0:00:08
   --- ------------------------------------ 1.1/11.6 MB 1.8 MB/s eta 0:00:06
   ---- ----------------------------------- 1.2/11.6 MB 1.8 MB/s eta 0:00:06
   ----- ---------------------------------- 1.6/11.6 MB 2.3 MB/s eta 0:00:05
   ------ --------------------------------- 1.8/11.6 MB 2.5 MB/s eta 0:00:04
   ------- -------------------------------- 2.1/11.6 MB 2.6 MB/s eta 0:00:04
   ------- -------------------------------- 2.1/11.6 MB 2.6 MB/s eta 0:00:04
   ------- -------------------------------- 2.1/11.6 MB 2.6 MB/s eta 0:00:04
   ------- -------------------------------- 2.1/11.6 MB 2.6 MB/s eta 0:00:04
   ------- -------------------------------- 2.1/11.6 MB 2.6 MB/s eta 0:00:04
   ------- -------------------------------- 2.1/11.6 MB 2.6 MB/s eta 0:00:04
   ------- -------------------------------- 2.1/11.6 MB 2.6 MB/s eta 0:00:04
   ------- -------------------------------- 2.1/11.6 MB 2.6 MB/s eta 0:00:04
   --------- ------------------------------ 2.7/11.6 MB 2.4 MB/s eta 0:00:04
   --------- ------------------------------ 2.7/11.6 MB 2.4 MB/s eta 0:00:04
   --------- ------------------------------ 2.8/11.6 MB 2.2 MB/s eta 0:00:04
   --------- ------------------------------ 2.8/11.6 MB 2.2 MB/s eta 0:00:04
   --------- ------------------------------ 2.8/11.6 MB 2.2 MB/s eta 0:00:04
   --------- ------------------------------ 2.8/11.6 MB 2.2 MB/s eta 0:00:04
   --------- ------------------------------ 2.8/11.6 MB 2.2 MB/s eta 0:00:04
   --------- ------------------------------ 2.8/11.6 MB 2.2 MB/s eta 0:00:04
   --------- ------------------------------ 2.8/11.6 MB 2.2 MB/s eta 0:00:04
   ---------- ----------------------------- 3.0/11.6 MB 1.9 MB/s eta 0:00:05
   ----------- ---------------------------- 3.4/11.6 MB 2.1 MB/s eta 0:00:04
   -------------- ------------------------- 4.1/11.6 MB 2.4 MB/s eta 0:00:04
   -------------- ------------------------- 4.1/11.6 MB 2.4 MB/s eta 0:00:04
   ---------------- ----------------------- 4.8/11.6 MB 2.6 MB/s eta 0:00:03
   ---------------- ----------------------- 4.9/11.6 MB 2.6 MB/s eta 0:00:03
   ---------------- ----------------------- 4.9/11.6 MB 2.6 MB/s eta 0:00:03
   ----------------- ---------------------- 5.1/11.6 MB 2.6 MB/s eta 0:00:03
   ----------------- ---------------------- 5.2/11.6 MB 2.6 MB/s eta 0:00:03
   ------------------ --------------------- 5.3/11.6 MB 2.6 MB/s eta 0:00:03
   ------------------ --------------------- 5.3/11.6 MB 2.6 MB/s eta 0:00:03
   ------------------- -------------------- 5.5/11.6 MB 2.6 MB/s eta 0:00:03
   -------------------- ------------------- 5.9/11.6 MB 2.7 MB/s eta 0:00:03
   -------------------- ------------------- 5.9/11.6 MB 2.7 MB/s eta 0:00:03
   -------------------- ------------------- 5.9/11.6 MB 2.7 MB/s eta 0:00:03
   -------------------- ------------------- 5.9/11.6 MB 2.7 MB/s eta 0:00:03
   --------------------- ------------------ 6.1/11.6 MB 2.6 MB/s eta 0:00:03
   --------------------- ------------------ 6.2/11.6 MB 2.6 MB/s eta 0:00:03
   --------------------- ------------------ 6.2/11.6 MB 2.6 MB/s eta 0:00:03
   --------------------- ------------------ 6.2/11.6 MB 2.6 MB/s eta 0:00:03
   ---------------------- ----------------- 6.5/11.6 MB 2.6 MB/s eta 0:00:02
   ---------------------- ----------------- 6.5/11.6 MB 2.6 MB/s eta 0:00:02
   ----------------------- ---------------- 6.8/11.6 MB 2.6 MB/s eta 0:00:02
   ----------------------- ---------------- 6.8/11.6 MB 2.6 MB/s eta 0:00:02
   ------------------------ --------------- 7.0/11.6 MB 2.6 MB/s eta 0:00:02
   ------------------------- -------------- 7.4/11.6 MB 2.7 MB/s eta 0:00:02
   ------------------------- -------------- 7.4/11.6 MB 2.7 MB/s eta 0:00:02
   ------------------------- -------------- 7.4/11.6 MB 2.7 MB/s eta 0:00:02
   ------------------------- -------------- 7.4/11.6 MB 2.7 MB/s eta 0:00:02
   ------------------------- -------------- 7.4/11.6 MB 2.7 MB/s eta 0:00:02
   --------------------------- ------------ 7.9/11.6 MB 2.6 MB/s eta 0:00:02
   --------------------------- ------------ 7.9/11.6 MB 2.6 MB/s eta 0:00:02
   --------------------------- ------------ 7.9/11.6 MB 2.6 MB/s eta 0:00:02
   --------------------------- ------------ 7.9/11.6 MB 2.6 MB/s eta 0:00:02
   ---------------------------- ----------- 8.2/11.6 MB 2.5 MB/s eta 0:00:02
   ---------------------------- ----------- 8.2/11.6 MB 2.5 MB/s eta 0:00:02
   ---------------------------- ----------- 8.2/11.6 MB 2.5 MB/s eta 0:00:02
   ----------------------------- ---------- 8.5/11.6 MB 2.5 MB/s eta 0:00:02
   ----------------------------- ---------- 8.6/11.6 MB 2.5 MB/s eta 0:00:02
   ----------------------------- ---------- 8.7/11.6 MB 2.5 MB/s eta 0:00:02
   ------------------------------ --------- 8.7/11.6 MB 2.5 MB/s eta 0:00:02
   ------------------------------ --------- 8.7/11.6 MB 2.5 MB/s eta 0:00:02
   ------------------------------ --------- 8.7/11.6 MB 2.5 MB/s eta 0:00:02
   ------------------------------ --------- 8.8/11.6 MB 2.4 MB/s eta 0:00:02
   ------------------------------- -------- 9.0/11.6 MB 2.4 MB/s eta 0:00:02
   ------------------------------- -------- 9.1/11.6 MB 2.4 MB/s eta 0:00:02
   ------------------------------- -------- 9.2/11.6 MB 2.4 MB/s eta 0:00:01
   ------------------------------- -------- 9.2/11.6 MB 2.4 MB/s eta 0:00:01
   ------------------------------- -------- 9.3/11.6 MB 2.4 MB/s eta 0:00:01
   -------------------------------- ------- 9.3/11.6 MB 2.4 MB/s eta 0:00:01
   -------------------------------- ------- 9.4/11.6 MB 2.4 MB/s eta 0:00:01
   -------------------------------- ------- 9.4/11.6 MB 2.3 MB/s eta 0:00:01
   -------------------------------- ------- 9.5/11.6 MB 2.3 MB/s eta 0:00:01
   -------------------------------- ------- 9.5/11.6 MB 2.3 MB/s eta 0:00:01
   -------------------------------- ------- 9.6/11.6 MB 2.3 MB/s eta 0:00:01
   --------------------------------- ------ 9.6/11.6 MB 2.3 MB/s eta 0:00:01
   --------------------------------- ------ 9.7/11.6 MB 2.3 MB/s eta 0:00:01
   --------------------------------- ------ 9.7/11.6 MB 2.3 MB/s eta 0:00:01
   --------------------------------- ------ 9.8/11.6 MB 2.2 MB/s eta 0:00:01
   --------------------------------- ------ 9.8/11.6 MB 2.2 MB/s eta 0:00:01
   ---------------------------------- ----- 9.9/11.6 MB 2.2 MB/s eta 0:00:01
   ---------------------------------- ----- 9.9/11.6 MB 2.2 MB/s eta 0:00:01
   ---------------------------------- ----- 10.0/11.6 MB 2.2 MB/s eta 0:00:01
   ---------------------------------- ----- 10.0/11.6 MB 2.2 MB/s eta 0:00:01
   ---------------------------------- ----- 10.1/11.6 MB 2.2 MB/s eta 0:00:01
   ----------------------------------- ---- 10.1/11.6 MB 2.2 MB/s eta 0:00:01
   ----------------------------------- ---- 10.2/11.6 MB 2.2 MB/s eta 0:00:01
   ----------------------------------- ---- 10.2/11.6 MB 2.1 MB/s eta 0:00:01
   ----------------------------------- ---- 10.3/11.6 MB 2.1 MB/s eta 0:00:01
   ----------------------------------- ---- 10.3/11.6 MB 2.2 MB/s eta 0:00:01
   ----------------------------------- ---- 10.4/11.6 MB 2.2 MB/s eta 0:00:01
   ------------------------------------ --- 10.4/11.6 MB 2.2 MB/s eta 0:00:01
   ------------------------------------ --- 10.5/11.6 MB 2.2 MB/s eta 0:00:01
   ------------------------------------ --- 10.5/11.6 MB 2.2 MB/s eta 0:00:01
   ------------------------------------ --- 10.6/11.6 MB 2.2 MB/s eta 0:00:01
   ------------------------------------ --- 10.7/11.6 MB 2.1 MB/s eta 0:00:01
   ------------------------------------ --- 10.7/11.6 MB 2.1 MB/s eta 0:00:01
   ------------------------------------- -- 10.8/11.6 MB 2.1 MB/s eta 0:00:01
   ------------------------------------- -- 10.8/11.6 MB 2.1 MB/s eta 0:00:01
   ------------------------------------- -- 10.9/11.6 MB 2.1 MB/s eta 0:00:01
   ------------------------------------- -- 10.9/11.6 MB 2.1 MB/s eta 0:00:01
   ------------------------------------- -- 11.0/11.6 MB 2.1 MB/s eta 0:00:01
   -------------------------------------- - 11.1/11.6 MB 2.1 MB/s eta 0:00:01
   -------------------------------------- - 11.1/11.6 MB 2.1 MB/s eta 0:00:01
   -------------------------------------- - 11.2/11.6 MB 2.0 MB/s eta 0:00:01
   -------------------------------------- - 11.2/11.6 MB 2.0 MB/s eta 0:00:01
   -------------------------------------- - 11.3/11.6 MB 2.0 MB/s eta 0:00:01
   ---------------------------------------  11.3/11.6 MB 2.0 MB/s eta 0:00:01
   ---------------------------------------  11.4/11.6 MB 2.0 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.6 MB 2.0 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.6 MB 2.0 MB/s eta 0:00:01
   ---------------------------------------  11.6/11.6 MB 2.0 MB/s eta 0:00:01
   ---------------------------------------- 11.6/11.6 MB 1.9 MB/s eta 0:00:00
Downloading numpy-1.26.4-cp311-cp311-win_amd64.whl (15.8 MB)
   ---------------------------------------- 0.0/15.8 MB ? eta -:--:--
   ---------------------------------------- 0.1/15.8 MB 1.6 MB/s eta 0:00:10
   ---------------------------------------- 0.1/15.8 MB 1.4 MB/s eta 0:00:12
   ---------------------------------------- 0.2/15.8 MB 1.2 MB/s eta 0:00:14
    --------------------------------------- 0.3/15.8 MB 1.2 MB/s eta 0:00:13
    --------------------------------------- 0.3/15.8 MB 1.3 MB/s eta 0:00:12
    --------------------------------------- 0.4/15.8 MB 1.2 MB/s eta 0:00:13
   - -------------------------------------- 0.5/15.8 MB 1.2 MB/s eta 0:00:13
   - -------------------------------------- 0.5/15.8 MB 1.2 MB/s eta 0:00:13
   - -------------------------------------- 0.6/15.8 MB 1.2 MB/s eta 0:00:13
   - -------------------------------------- 0.6/15.8 MB 1.2 MB/s eta 0:00:13
   - -------------------------------------- 0.7/15.8 MB 1.2 MB/s eta 0:00:13
   - -------------------------------------- 0.7/15.8 MB 1.2 MB/s eta 0:00:13
   - -------------------------------------- 0.8/15.8 MB 1.2 MB/s eta 0:00:13
   -- ------------------------------------- 0.8/15.8 MB 1.2 MB/s eta 0:00:13
   -- ------------------------------------- 0.8/15.8 MB 1.2 MB/s eta 0:00:13
   -- ------------------------------------- 1.0/15.8 MB 1.2 MB/s eta 0:00:13
   -- ------------------------------------- 1.0/15.8 MB 1.2 MB/s eta 0:00:13
   -- ------------------------------------- 1.0/15.8 MB 1.2 MB/s eta 0:00:13
   -- ------------------------------------- 1.1/15.8 MB 1.1 MB/s eta 0:00:14
   -- ------------------------------------- 1.2/15.8 MB 1.1 MB/s eta 0:00:13
   --- ------------------------------------ 1.2/15.8 MB 1.2 MB/s eta 0:00:13
   --- ------------------------------------ 1.3/15.8 MB 1.2 MB/s eta 0:00:13
   --- ------------------------------------ 1.4/15.8 MB 1.2 MB/s eta 0:00:13
   --- ------------------------------------ 1.4/15.8 MB 1.2 MB/s eta 0:00:13
   --- ------------------------------------ 1.5/15.8 MB 1.2 MB/s eta 0:00:13
   --- ------------------------------------ 1.5/15.8 MB 1.2 MB/s eta 0:00:13
   --- ------------------------------------ 1.6/15.8 MB 1.2 MB/s eta 0:00:13
   ---- ----------------------------------- 1.6/15.8 MB 1.1 MB/s eta 0:00:13
   ---- ----------------------------------- 1.7/15.8 MB 1.2 MB/s eta 0:00:13
   ---- ----------------------------------- 1.8/15.8 MB 1.2 MB/s eta 0:00:12
   ---- ----------------------------------- 1.8/15.8 MB 1.2 MB/s eta 0:00:12
   ---- ----------------------------------- 1.8/15.8 MB 1.1 MB/s eta 0:00:13
   ---- ----------------------------------- 1.9/15.8 MB 1.2 MB/s eta 0:00:13
   ---- ----------------------------------- 2.0/15.8 MB 1.2 MB/s eta 0:00:12
   ----- ---------------------------------- 2.1/15.8 MB 1.2 MB/s eta 0:00:12
   ----- ---------------------------------- 2.1/15.8 MB 1.2 MB/s eta 0:00:12
   ----- ---------------------------------- 2.2/15.8 MB 1.2 MB/s eta 0:00:12
   ----- ---------------------------------- 2.2/15.8 MB 1.2 MB/s eta 0:00:12
   ----- ---------------------------------- 2.3/15.8 MB 1.2 MB/s eta 0:00:12
   ----- ---------------------------------- 2.4/15.8 MB 1.2 MB/s eta 0:00:12
   ------ --------------------------------- 2.4/15.8 MB 1.2 MB/s eta 0:00:12
   ------ --------------------------------- 2.4/15.8 MB 1.1 MB/s eta 0:00:12
   ------ --------------------------------- 2.5/15.8 MB 1.1 MB/s eta 0:00:12
   ------ --------------------------------- 2.5/15.8 MB 1.1 MB/s eta 0:00:12
   ------ --------------------------------- 2.6/15.8 MB 1.1 MB/s eta 0:00:12
   ------ --------------------------------- 2.6/15.8 MB 1.1 MB/s eta 0:00:12
   ------ --------------------------------- 2.7/15.8 MB 1.1 MB/s eta 0:00:12
   ------ --------------------------------- 2.8/15.8 MB 1.2 MB/s eta 0:00:12
   ------- -------------------------------- 2.8/15.8 MB 1.2 MB/s eta 0:00:12
   ------- -------------------------------- 2.9/15.8 MB 1.2 MB/s eta 0:00:12
   ------- -------------------------------- 2.9/15.8 MB 1.2 MB/s eta 0:00:12
   ------- -------------------------------- 3.0/15.8 MB 1.2 MB/s eta 0:00:12
   ------- -------------------------------- 3.1/15.8 MB 1.2 MB/s eta 0:00:12
   ------- -------------------------------- 3.1/15.8 MB 1.2 MB/s eta 0:00:11
   ------- -------------------------------- 3.2/15.8 MB 1.2 MB/s eta 0:00:11
   -------- ------------------------------- 3.2/15.8 MB 1.2 MB/s eta 0:00:11
   -------- ------------------------------- 3.3/15.8 MB 1.2 MB/s eta 0:00:11
   -------- ------------------------------- 3.3/15.8 MB 1.2 MB/s eta 0:00:11
   -------- ------------------------------- 3.4/15.8 MB 1.2 MB/s eta 0:00:11
   -------- ------------------------------- 3.4/15.8 MB 1.2 MB/s eta 0:00:11
   -------- ------------------------------- 3.5/15.8 MB 1.2 MB/s eta 0:00:11
   -------- ------------------------------- 3.6/15.8 MB 1.2 MB/s eta 0:00:11
   --------- ------------------------------ 3.6/15.8 MB 1.2 MB/s eta 0:00:11
   --------- ------------------------------ 3.7/15.8 MB 1.2 MB/s eta 0:00:11
   --------- ------------------------------ 3.7/15.8 MB 1.2 MB/s eta 0:00:11
   --------- ------------------------------ 3.8/15.8 MB 1.2 MB/s eta 0:00:11
   --------- ------------------------------ 3.8/15.8 MB 1.2 MB/s eta 0:00:11
   --------- ------------------------------ 3.9/15.8 MB 1.2 MB/s eta 0:00:11
   --------- ------------------------------ 4.0/15.8 MB 1.2 MB/s eta 0:00:11
   ---------- ----------------------------- 4.0/15.8 MB 1.2 MB/s eta 0:00:11
   ---------- ----------------------------- 4.1/15.8 MB 1.2 MB/s eta 0:00:11
   ---------- ----------------------------- 4.2/15.8 MB 1.2 MB/s eta 0:00:10
   ---------- ----------------------------- 4.3/15.8 MB 1.2 MB/s eta 0:00:10
   ----------- ---------------------------- 4.4/15.8 MB 1.2 MB/s eta 0:00:10
   ----------- ---------------------------- 4.4/15.8 MB 1.2 MB/s eta 0:00:10
   ----------- ---------------------------- 4.5/15.8 MB 1.2 MB/s eta 0:00:10
   ----------- ---------------------------- 4.5/15.8 MB 1.2 MB/s eta 0:00:10
   ----------- ---------------------------- 4.6/15.8 MB 1.2 MB/s eta 0:00:10
   ----------- ---------------------------- 4.6/15.8 MB 1.2 MB/s eta 0:00:10
   ----------- ---------------------------- 4.7/15.8 MB 1.2 MB/s eta 0:00:10
   ------------ --------------------------- 4.8/15.8 MB 1.2 MB/s eta 0:00:10
   ------------ --------------------------- 4.9/15.8 MB 1.2 MB/s eta 0:00:10
   ------------ --------------------------- 5.0/15.8 MB 1.2 MB/s eta 0:00:10
   ------------ --------------------------- 5.0/15.8 MB 1.2 MB/s eta 0:00:10
   ------------ --------------------------- 5.1/15.8 MB 1.2 MB/s eta 0:00:10
   ------------- -------------------------- 5.2/15.8 MB 1.2 MB/s eta 0:00:09
   ------------- -------------------------- 5.3/15.8 MB 1.2 MB/s eta 0:00:09
   ------------- -------------------------- 5.3/15.8 MB 1.2 MB/s eta 0:00:09
   ------------- -------------------------- 5.4/15.8 MB 1.2 MB/s eta 0:00:09
   ------------- -------------------------- 5.4/15.8 MB 1.2 MB/s eta 0:00:09
   ------------- -------------------------- 5.5/15.8 MB 1.2 MB/s eta 0:00:09
   -------------- ------------------------- 5.6/15.8 MB 1.2 MB/s eta 0:00:09
   -------------- ------------------------- 5.6/15.8 MB 1.2 MB/s eta 0:00:09
   -------------- ------------------------- 5.7/15.8 MB 1.2 MB/s eta 0:00:09
   -------------- ------------------------- 5.7/15.8 MB 1.2 MB/s eta 0:00:09
   -------------- ------------------------- 5.8/15.8 MB 1.2 MB/s eta 0:00:09
   -------------- ------------------------- 5.8/15.8 MB 1.2 MB/s eta 0:00:09
   -------------- ------------------------- 5.9/15.8 MB 1.2 MB/s eta 0:00:09
   --------------- ------------------------ 6.0/15.8 MB 1.2 MB/s eta 0:00:09
   --------------- ------------------------ 6.0/15.8 MB 1.2 MB/s eta 0:00:09
   --------------- ------------------------ 6.1/15.8 MB 1.2 MB/s eta 0:00:09
   --------------- ------------------------ 6.2/15.8 MB 1.2 MB/s eta 0:00:09
   --------------- ------------------------ 6.2/15.8 MB 1.2 MB/s eta 0:00:08
   --------------- ------------------------ 6.3/15.8 MB 1.2 MB/s eta 0:00:08
   ---------------- ----------------------- 6.3/15.8 MB 1.2 MB/s eta 0:00:08
   ---------------- ----------------------- 6.4/15.8 MB 1.2 MB/s eta 0:00:08
   ---------------- ----------------------- 6.5/15.8 MB 1.2 MB/s eta 0:00:08
   ---------------- ----------------------- 6.5/15.8 MB 1.2 MB/s eta 0:00:08
   ---------------- ----------------------- 6.6/15.8 MB 1.2 MB/s eta 0:00:08
   ---------------- ----------------------- 6.7/15.8 MB 1.2 MB/s eta 0:00:08
   ----------------- ---------------------- 6.7/15.8 MB 1.2 MB/s eta 0:00:08
   ----------------- ---------------------- 6.8/15.8 MB 1.2 MB/s eta 0:00:08
   ----------------- ---------------------- 6.9/15.8 MB 1.2 MB/s eta 0:00:08
   ----------------- ---------------------- 6.9/15.8 MB 1.2 MB/s eta 0:00:08

In [ ]:
import pandas as pd

In [2]:
import pandas as pd

ModuleNotFoundError: No module named 'pndas'

In [3]:
import pandas as pd

C:\Users\Zahid Mehmood\AppData\Local\Temp\ipykernel_14516\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [4]:
import pandas as pd

In [5]:
talal = pd.read_csv('D:/data.csv')

In [6]:
talal

   id user_name name_first name_last  pass_word
0   6   talfaha         ff     jsjgj      ajfla
1   7       fff        fff       fff       ffff
2   8     talal      talal    xncuoa     shaufh
3  10    zahidm      zahid   mehmood      zahid
4  11      baji      khush     zahid          k
5  12    fuhrer     haroon      ayub       ayub
6  13     vilal      bilal     zahid     bilala
7  14   TalalZ       talal     zahid  TalalZ014

In [7]:
talal['id']

0     6
1     7
2     8
3    10
4    11
5    12
6    13
7    14
Name: id, dtype: int64

In [8]:
talal['multiple']= talal['id']*2

In [9]:
talal

   id user_name name_first name_last  pass_word  multiple
0   6   talfaha         ff     jsjgj      ajfla        12
1   7       fff        fff       fff       ffff        14
2   8     talal      talal    xncuoa     shaufh        16
3  10    zahidm      zahid   mehmood      zahid        20
4  11      baji      khush     zahid          k        22
5  12    fuhrer     haroon      ayub       ayub        24
6  13     vilal      bilal     zahid     bilala        26
7  14   TalalZ       talal     zahid  TalalZ014        28

In [11]:
bilal = talal.sort_values[by = 'name_first',descending= True]

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (4139711593.py, line 1)

In [13]:
bilal = talal.sort_values(by = 'name_first',ascending= True)

In [14]:
bilal

   id user_name name_first name_last  pass_word  multiple
6  13     vilal      bilal     zahid     bilala        26
0   6   talfaha         ff     jsjgj      ajfla        12
1   7       fff        fff       fff       ffff        14
5  12    fuhrer     haroon      ayub       ayub        24
4  11      baji      khush     zahid          k        22
2   8     talal      talal    xncuoa     shaufh        16
7  14   TalalZ       talal     zahid  TalalZ014        28
3  10    zahidm      zahid   mehmood      zahid        20

In [15]:
ehsan = pd.read_csv('D:/data2.csv')

In [16]:
ehsan

   id user_name name_first name_last  pass_word
0   6   talfaha         ff     jsjgj      ajfla
1   7       fff        fff       fff       ffff
2   8     talal      talal    xncuoa     shaufh
3  10    zahidm      zahid   mehmood      zahid
4  11      baji      khush     zahid          k
5  12    fuhrer     haroon      ayub       ayub
6  13     vilal      bilal     zahid     bilala
7  14   TalalZ       talal     zahid  TalalZ014

In [17]:
pd.merge(talal,ehsan, on = 'id',how = 'outer' )

,id,user_name_x,name_first_x,name_last_x,pass_word_x,multiple,user_name_y,name_first_y,name_last_y,pass_word_y
0,6,talfaha,ff,jsjgj,ajfla,12,talfaha,ff,jsjgj,ajfla
1,7,fff,fff,fff,ffff,14,fff,fff,fff,ffff
2,8,talal,talal,xncuoa,shaufh,16,talal,talal,xncuoa,shaufh
3,10,zahidm,zahid,mehmood,zahid,20,zahidm,zahid,mehmood,zahid
4,11,baji,khush,zahid,k,22,baji,khush,zahid,k
5,12,fuhrer,haroon,ayub,ayub,24,fuhrer,haroon,ayub,ayub
6,13,vilal,bilal,zahid,bilala,26,vilal,bilal,zahid,bilala
7,14,TalalZ,talal,zahid,TalalZ014,28,TalalZ,talal,zahid,TalalZ014

In [18]:
pd.merge(talal,ehsan, on = 'name_first',how = 'outer' )

,id_x,user_name_x,name_first,name_last_x,pass_word_x,multiple,id_y,user_name_y,name_last_y,pass_word_y
0,13,vilal,bilal,zahid,bilala,26,13,vilal,zahid,bilala
1,6,talfaha,ff,jsjgj,ajfla,12,6,talfaha,jsjgj,ajfla
2,7,fff,fff,fff,ffff,14,7,fff,fff,ffff
3,12,fuhrer,haroon,ayub,ayub,24,12,fuhrer,ayub,ayub
4,11,baji,khush,zahid,k,22,11,baji,zahid,k
5,8,talal,talal,xncuoa,shaufh,16,8,talal,xncuoa,shaufh
6,8,talal,talal,xncuoa,shaufh,16,14,TalalZ,zahid,TalalZ014
7,14,TalalZ,talal,zahid,TalalZ014,28,8,talal,xncuoa,shaufh
8,14,TalalZ,talal,zahid,TalalZ014,28,14,TalalZ,zahid,TalalZ014
9,10,zahidm,zahid,mehmood,zahid,20,10,zahidm,mehmood,zahid

In [19]:
pd.merge(talal,ehsan, on = 'name_first',how = 'right' )

,id_x,user_name_x,name_first,name_last_x,pass_word_x,multiple,id_y,user_name_y,name_last_y,pass_word_y
0,6,talfaha,ff,jsjgj,ajfla,12,6,talfaha,jsjgj,ajfla
1,7,fff,fff,fff,ffff,14,7,fff,fff,ffff
2,8,talal,talal,xncuoa,shaufh,16,8,talal,xncuoa,shaufh
3,14,TalalZ,talal,zahid,TalalZ014,28,8,talal,xncuoa,shaufh
4,10,zahidm,zahid,mehmood,zahid,20,10,zahidm,mehmood,zahid
5,11,baji,khush,zahid,k,22,11,baji,zahid,k
6,12,fuhrer,haroon,ayub,ayub,24,12,fuhrer,ayub,ayub
7,13,vilal,bilal,zahid,bilala,26,13,vilal,zahid,bilala
8,8,talal,talal,xncuoa,shaufh,16,14,TalalZ,zahid,TalalZ014
9,14,TalalZ,talal,zahid,TalalZ014,28,14,TalalZ,zahid,TalalZ014

In [20]:
pd.merge(talal,ehsan, on = 'name_first',how = 'inner' )

,id_x,user_name_x,name_first,name_last_x,pass_word_x,multiple,id_y,user_name_y,name_last_y,pass_word_y
0,6,talfaha,ff,jsjgj,ajfla,12,6,talfaha,jsjgj,ajfla
1,7,fff,fff,fff,ffff,14,7,fff,fff,ffff
2,8,talal,talal,xncuoa,shaufh,16,8,talal,xncuoa,shaufh
3,8,talal,talal,xncuoa,shaufh,16,14,TalalZ,zahid,TalalZ014
4,10,zahidm,zahid,mehmood,zahid,20,10,zahidm,mehmood,zahid
5,11,baji,khush,zahid,k,22,11,baji,zahid,k
6,12,fuhrer,haroon,ayub,ayub,24,12,fuhrer,ayub,ayub
7,13,vilal,bilal,zahid,bilala,26,13,vilal,zahid,bilala
8,14,TalalZ,talal,zahid,TalalZ014,28,8,talal,xncuoa,shaufh
9,14,TalalZ,talal,zahid,TalalZ014,28,14,TalalZ,zahid,TalalZ014

In [21]:
pd.concat(talal,ehsan)

TypeError: concat() takes 1 positional argument but 2 were given

In [22]:
import pandas as pd

# Creating a sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35]}

df = pd.DataFrame(data)

# Adding a new column using inplace=True
df['City'] = ['New York', 'San Francisco', 'Los Angeles']

# Displaying the DataFrame after the addition of the new column
print("DataFrame after adding 'City' column:")
print(df)

# Dropping a column using inplace=True
df.drop('Age', axis=1, inplace=True)

# Displaying the DataFrame after dropping the 'Age' column
print("\nDataFrame after dropping 'Age' column:")
print(df)

DataFrame after adding 'City' column:
      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles

DataFrame after dropping 'Age' column:
      Name           City
0    Alice       New York
1      Bob  San Francisco
2  Charlie    Los Angeles

In [24]:
import pandas as pd

# Creating a sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35]}

df = pd.DataFrame(data)

# Adding a new column using inplace=True
df['City'] = ['New York', 'San Francisco', 'Los Angeles']

# Displaying the DataFrame after the addition of the new column
print("DataFrame after adding 'City' column:")
print(df)

# Dropping a column using inplace=True
df.drop('Age', axis=1, inplace=False)

# Displaying the DataFrame after dropping the 'Age' column
print("\nDataFrame after dropping 'Age' column:")
print(df)

DataFrame after adding 'City' column:
      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles

DataFrame after dropping 'Age' column:
      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles

In [ ]:
bilal = pd.read_csv('D:/data2.csv')